<footer>
  <div class="contact">
    <div class="say-hello-text" (click)="openEmail()">Say Hello!</div>
    <div class="links-container">
      <div class="social-media-links">
        <a href=""><img src="assets/icons/github.svg" alt="github" /></a>
      </div>
      <div class="social-media-links">
        <a href=""><img src="assets/icons/linkedin.svg" alt="linkedin" /></a>
      </div>
      <div class="social-media-links">
        <a href=""><img src="assets/icons/twitter.svg" alt="twitter" /></a>
      </div>
    </div>
  </div>
  <h3>Created by Abi</h3>
</footer>
